<h1>UserSurveyTakens#new</h1>
<p>Find me in app/views/user_survey_takens/new.html.erb</p>


<h1>User Survey</h1>
<%# Display username, email %>

<%= render "form_user_survey_takens" %>
<br>

<div>
  <%= link_to "Back to surveys", surveys_path %>
</div>
